<!-- start: author details -->
<div class="title"><h3>Sobre o autor</h3></div>

<img src="http://www.gravatar.com/avatar/893dc25648d3020f0fa12d449282bc71?s=200" class="thumbnail img img-polaroid" alt="me">

<p>
    Meu nome é Thiago Paes, também sou conhecido como <b>mrprompt</b>,
    sou evangelista do PHP e do Software Livre.
</p>
<p>
    <a href="http://www.zend.com/en/yellow-pages/ZEND022815" class="pull-right" target="_blank">
        <img src="/img/zce-logo.jpg">
    </a>
    Sou ZCPE e afficionado por código bem escrito, performance e padrões,
    não necessiariamente nesta mesma ordem.
</p>
<!-- end: author details -->