<!DOCTYPE html>
<html lang="pt">
<head>
    <!-- start: Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} - {% endif %} Thiago Paes - mrprompt - Desenvolvedor Freelancer</title>

    <meta name="description" content="Site pessoal do desenvolvedor Thiago Paes - mrprompt">
    <meta name="keywords" content="html, css, javascript, js, php, software, livre, open, source, florianópolis, php-gtk, linux, nodejs, angularjs, back, end, front, backend, frontend, back-end, front-end, tdd, ddd, test, driven, design, domain">
    <meta name="author" content="Thiago Paes - mrprompt (at) gmail.com">
    <!-- end: Meta -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/ThiagoPaes">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">mrprompt</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Início</a></li>
                <li><a href="/projetos">Projetos</a></li>
                <li><a href="/apresentacoes">Apresentações</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li><a href="https://github.com/mrprompt" title="GitHub"><i class="fa fa-github"></i> <span class="visible-xs">github</span></a></li>
                <li><a href="https://bitbucket.org/mrprompt/" title="BitBucket"><i class="fa fa-bitbucket"></i> <span class="visible-xs">bitbucket</span></a></li>
                <li><a href="http://pt.slideshare.net/mrprompt" title="Slideshare"><i class="fa fa-slideshare"></i> <span class="visible-xs">slideshare</span></a></li>
                <li><a href="http://facebook.com/mrprompt" title="Facebook"><i class="fa fa-facebook-official"></i> <span class="visible-xs">facebook</span></a></li>
                <li><a href="http://br.linkedin.com/in/paesthiago/pt" title="Linkedin"><i class="fa fa-linkedin"></i> <span class="visible-xs">linkedin</span></a></li>
                <li><a href="http://mrprompt.com.br/curriculo/" title="Curriculum Vitae"><i class="fa fa-file-text-o"></i> <span class="visible-xs">currículo</span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>