---
layout: default
---
<!--start: Wrapper-->
<div id="wrapper">
    <!--start: Container -->
    <div class="container">
        <!-- start: Row -->
        <div class="content clearfix">

            <div class="span11">
                <!-- start: Row -->
                <div class="row">
                    <h2>{{ page.title }}</h2>
                    <p class="meta">{{ page.date | date_to_string }}</p>

                    <div class="post">
                        {{ content }}
                    </div>
                </div>
                <!-- end: Row -->

                <div class="clearfix"></div>
                <hr class="clean">
            <hr>
        </div>
        <!--end: Container-->
    </div>
    <!-- end: Wrapper  -->
</div>